<div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 col-xl-6 wrapper">
    <div class="pre-tittle">About me</div>
    <h2 class="sub-tittle">Web developer / Electronic Engineering</h2>
    <p class="description">I'm a software developer with a passion for building digital services/ stuff i want.
        I enjoy development because of the satisfaction i get by overcoming challenges.
        A fan of learning and interacting with new technologies when i'm not online, i love to play videogames, play wallyball and expend time with my cats.
    </p>
    <div class="pre-tittle">Skills & technologies</div>
    <p class="description">Technologies that i've learned on my journey.</p>
    <h2 class="sub-tittle">Frontend</h2>
    <p class="description">JavaScript, AngularJS, CSS.</p>
    <h2 class="sub-tittle">Backend</h2>
    <p class="description">C#.NET, PL/SQL Oracle. </p>
</div>